/* body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  font-family: 'Manrope', sans-serif !important;
}

/* .ant-form-item-control-input-content span {
  display: flex !important;
  justify-content: space-between !important;
}  */

/* .ant-upload.ant-upload-drag {
  width: 49% !important;
  font-family: 'Manrope', sans-serif !important;
}

#app {
  overflow-x: hidden !important;
}

/* .ant-upload-list.ant-upload-list-text {
  width: 49% !important;
  border: 1px solid #e0e0e0 !important;
  height: 124px !important;
  overflow-y: scroll !important;
} */

/* .ant-upload-drag-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.ant-space-item {
  width: 48%;
}

.ant-space.ant-space-horizontal.ant-space-align-baseline {
  position: relative;
}

.ant-space-item:nth-child(3) {
  width: 4%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  bottom: 4.2em;
}

span .anticon .anticon-caret-up .ant-table-column-sorter-up .active {
  color: red !important;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: red !important;
}

.ant-pagination-item-active {
  border-color: red !important;
}

.ant-pagination-item-active a {
  color: red !important;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  color: red !important;
}

.ant-pagination-item:hover a {
  color: red !important;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: red !important;
}

.ant-input:hover {
  border-color: red !important;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: red !important;
  border-right-width: 1px !important;
  box-shadow: 0 0 0 2px rgb(255 24 24 / 20%) !important;
}

.ant-input:focus,
.ant-input-focused {
  border-color: red !important;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid red !important;
  border-radius: 2px;
  content: '';
}

.ant-picker-today-btn {
  color: red !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: red !important;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: red !important;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
  color: red !important;
}

.ant-input-affix-wrapper:hover {
  border-color: red !important;
}

#option {
  background-color: rgba(238, 58, 64, 0.25) !important;
}

#selected-option:active {
  background-color: rgba(238, 58, 64, 0.25) !important;
}

.ant-select-selection {
  background-color: red !important;
}

::selection {
  color: white !important;
  background: red !important;
}

.ant-tabs {
  overflow: visible !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important;
}

.ant-tabs-tab:hover {
  color: red !important;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: rgb(194, 0, 0) !important;
}

.ant-tabs-ink-bar {
  background: red !important;
}

.ant-spin-dot-item {
  background-color: red;
}

.ant-switch .class-switch {
  background-color: rgba(0, 0, 0, 0.25);
}

.ant-switch-checked {
  background-color: red;
}

.ant-switch-checked:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
}

.ant-select-selection {
  background-color: red !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: red !important;
  border-right-width: 1px !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: red !important;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  height: 250px;
} */
